<!doctype html>

<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header th:replace="fragments/header :: header"></header>
    <div th:replace="fragments/menu :: menu"></div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
                    <thead>
                    <tr>
                        <th th:text="#{client.lastName}" class="mdl-data-table__cell--non-numeric cell-overflow"/>
                        <th th:text="#{client.firstName}" class="mdl-data-table__cell--non-numeric cell-overflow"/>
                        <th th:text="#{address.street}" class="mdl-data-table__cell--non-numeric cell-overflow"/>
                        <th th:text="#{address.postCode}" class="mdl-data-table__cell--non-numeric cell-overflow"/>
                        <th th:text="#{address.city}" class="mdl-data-table__cell--non-numeric cell-overflow"/>
                        <th class="mdl-data-table__cell--non-numeric cell-overflow" th:text="show"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="client : ${clients}">
                        <td th:text="${client.lastName}" class="mdl-data-table__cell--non-numeric cell-overflow"/>
                        <td th:text="${client.firstName}" class="mdl-data-table__cell--non-numeric cell-overflow"/>
                        <td th:text="${client.address.street}" class="mdl-data-table__cell--non-numeric cell-overflow"/>
                        <td th:text="${client.address.postCode}" class="mdl-data-table__cell--non-numeric cell-overflow"/>
                        <td th:text="${client.address.city}" class="mdl-data-table__cell--non-numeric cell-overflow"/>
                        <td class="mdl-data-table__cell--non-numeric cell-overflow"><a th:href="@{'/clients/' + ${client.id}}"><i
                                class="material-icons"><i class="material-icons">arrow_forward</i></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<a th:href="@{/newClient}" >
    <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="view-source">
        <i class="material-icons">person_add</i>
    </button>
</a>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
